*.opendb
*.DS_Store

# VS/VSCode
.vscode
.vs

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.launch


# Build folders
Debug/
build/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/Release/
# Don't really know why these are generated, but we don't want them
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake

